#landing_bg {
    /*background: url('http://webpage.pace.edu/as03681n/d1.jpeg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#bg{
    /*no-repeat: center center fixed;*/
    position: fixed;
    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
    /*!* Set up positioning *!*/
    /*position: fixed;*/
    /*top: 0;*/
    left: 0;
}

.tag{
    margin: 24% 0;
    padding-top: 15%;
    padding-right: 50%;

}

.divider-vertical {
    padding-top: 14px;
    padding-bottom: 14px;
}
.signupform{
    margin: 25% 0;
    padding: 20px;
    border-radius: 6px;
}


.back{

    background-color: gray;
}